.box {
    border: 1px solid red;
    height: 46px;
    width: 46px;
    background-color: lightgray;
    flex: 1 0 auto;
  }

  .pen {
    background-color: black;
  }
 
  .row {
    display: flex;
    flex-direction: row;
    height: 48px;
    flex: 1 0 auto;
    justify-content: space-evenly;
  }